package br.com.velocity;

public class $name {

#foreach( $attr in $attrList )
  	private $attr.type  $attr.name; 
#end
 
 #foreach( $attr in $attrList )
 
    public  $attr.type get$attr.nameCaptalized (){
   	 return this.$attr.name;
    }
    
     public void set$attr.nameCaptalized ($attr.type $attr.name){
   		this.$attr.name = $attr.name;
    }
 #end
}
